<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="InteractiveStudios.QlmPaypalIpn._Default" %>


<% 

    InteractiveStudios.QlmPaypalIpn.QlmIpn qlmIpn = new InteractiveStudios.QlmPaypalIpn.QlmIpn();
    
    qlmIpn.PaypalUrl = "https://www.sandbox.paypal.com/cgi-bin/webscr";
    qlmIpn.CompanyName = "Your Company";
    qlmIpn.SupportEmail = "support@yourcompany.com";
    qlmIpn.QlmWebUrl = "http://yourserver/qlm/qlmservice.asmx";
    qlmIpn.SmtpServer = "localhost";
    qlmIpn.SmtpPort = 25;
        
    qlmIpn.ProcessTransaction (Context);
    
    
    
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
